*{
    display: flex;
    box-sizing: border-box;
    width: 50vw;
    height: 50vh;
    margin: 0;
}
head {
    display: none;
}
#app {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
}

.topBarContent{
    margin: 1%;
    width: 90%;
    height: 10%;
    border:2px solid rgb(136, 84, 6);
}


.mainViewBox{
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    border:3px solid black;
}
.mainViewBox ul {
    margin: 0;
    width: 50%;
    height: 50%;
    flex-flow: column nowrap;
}
.mainViewBox ul li{
    width: 50%;
    height: 50%;
}
.mainViewBox button{
    width: 30%;
    height: 10%;
}