/* <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> to your <head>) */
* {
    display: flex;
    box-sizing: border-box;
    width: 98vw;
    height: 100vh;
    margin: 0;
}

head {
    display: none;
}
body{
    background-color: rgb(255, 248, 238);
}

#App {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    
}

/* GrandDaddy End*/

/* Top Bar Start */

.topBar {
    width: 76%;
    height: 15%;
    border: 2px solid rgb(8, 8, 8);
    margin-left: 5px;;
    justify-content: space-between;
    top: 0;
    position: sticky;
    background-color:whitesmoke;
}

.topBar .logo {
    width: 10%;
    height: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topBar #controlBar {
    width: 40%;
    height: 100%;
    font-size: 20pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topBar #Account {
    width: 35%;
    height: 100%;
    font-size: 20pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-flow: column nowrap;
    align-items: center;   
}
.topBar #Account a {
    width: 100%;
    justify-content: center;
    margin-top: 6%;
    
}
#controlBar a {
    height: 50%;
    justify-content: center;
    margin-top: 6%;
}
/* Top Bar End */


/*   main body start*/
.Main {
    top: 15%;
    width: 76%;
    height: 84%;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    overflow-y: scroll;
    margin: .3% 0 0 0;
}


/* main body end */

/* ListView Area Start */
.listViewBox {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
   
    
}
.singlepost {
    width: 90%;
    height: 35%;
    flex-flow: row nowrap;
    margin: .2%;
    border: 3px solid rgb(14, 13, 13)
}
.singlepost h2 {
    height:10%
}
.singlepost span {
    margin-top: 2%;
    height:12%;
}

.singlepost ul {
    margin: 0;
    width: 25%;
    height: 100%;
    flex-flow: column nowrap;
}

.singlepost ul li {
    width: 80%;
    height: 20%;
}

.singlepost button {
    width: 30%;
    height: 30%;
}

/* ListView Area End*/


/* Register Start */
.registerForm {
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
}
.registerForm label {
    width: 10%;
    height: 10%;
    font-size: 22pt;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.register {
    width: 50%;
    height: 20%;
    background-color: blue;
}

.userName {
    width: 100%;
    height: 100%;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.password {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
}

.registerForm button {
    width: 15%;
    height: 5%;
    background-color:gold;
}
/* Register End */

/* login Start */
.loginForm {
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid black;
}
.loginForm a {
    width: 23%;
    height: 7%;
    font-size: 14pt;
}
.loginForm label {
    width: 15%;
    height: 10%;
    font-size: 27pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.login {
    width: 50%;
    height: 20%;
    background-color: blue;
}

.userName {
    width: 100%;
    height: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.password {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loginForm button {
    width: 20%;
    height: 5%;
    justify-content: center;
    margin-top: 1%;
    background-color: gold;
    font-size: 15pt;
    font-weight: bold;
}
/* login End */






/* input form start */
#SubmitForm {
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.submitFormLabel {
    width: 15%;
    height: 12%;
    justify-content:center;
    margin-bottom: 7%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40pt;
    
}
.inputForm{
    width: 75%;
    height: 15%;
    background-color: blue;
}
.inputFormPost {
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18pt
}

#SubmitForm button {
    width: 30%;
    height: 5%;
    margin-top: 2%;
    background-color: gold;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    font-weight: bold;
}
/* input form end */

/* Message Form start*/
#messageForm {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
}
#messageForm fieldset {
    height: 50%;
    width: 80%;
}
#messageForm button {
    width: 20%;
    height: 10%;
}


/* Message Form end*/

/* SideBar App Area Start*/
.sideBar {
    width: 22%;
    height: 100%;
    float: right;
    left: 76%;
    position: fixed;
    flex-flow: column nowrap;
    border: 2px solid blueviolet;
}

.sideBar .mainSearch {
    margin: 5px;
    width: 100%;
    height: 20%;
    border: 2px solid blueviolet;
    flex-flow: column nowrap;
   
}
.sideBar .mainSearch {
    width: 100%;
    height: 20%;

border: 3px solid black;
flex-flow: column no wrap;
align-items: center;
}
.sideBar .mainSearch label {
    width: 50%;
    height: 10%;
    margin-bottom: 7%;
    font-size: 20pt;
    font-weight: bold;
}
.sideBar .mainSearch input {
    width: 100%;
    height: 30%;
    background-color: aliceblue;
    margin-bottom: 1%;
}
.sideBar .mainSearch button {
    width: 50%;
    height: 15%;
    text-align: center;
    background-color: rgb(173, 172, 172);
    border: 1px solid black;
    font-weight: bold;
}

.sideBar .myMessages {
    margin: 5px;
    width: 100%;
    height: 90%;
    border: 2px solid blueviolet;
    flex-flow: column nowrap;
    overflow-y: scroll;
}
.messageInInbox {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.messageInInbox h2{
    width: 10%;
    height: 10%;
}
.messageInInbox span{
    width: 10%;
    height: 10%;
}
.messageInInbox ul{
    width: 100%;
    height: 80%;
    flex-flow: column nowrap;
}
.messageInInbox ul li {
    width: 100%;
    height: 10%;
}
.messageInInbox ul li h5{
    width: 100%;
    height: 10%;
}



/* SideBar App Area End*/