/* <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> to your <head>) */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    display: flex;
    box-sizing: border-box;
    width: 98vw;
    height: 100vh;
    margin: 0;
}

head {
    display: none;
}
body{
    background-color: rgb(255, 248, 238);
}

#App {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    
}

/* GrandDaddy End*/

/* Top Bar Start */

.topBar {
    width: 76%;
    height: 5rem;
    border: 2px solid rgb(8, 8, 8);

    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
    background-color:whitesmoke;
}

.topBar .logo {
    width: 10%;
    height: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topBar #controlBar {
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#controlBar a {
    width: 10%;
   height: 20%;
   margin: 1%;
   font-size:2.5em;
   text-decoration: none;
   align-items: center;
   justify-self: center;
}
.controlBarIcon {
    width: 100%;
    height: 100%;
    color: black;
}
/* .controlBarIcon:hover {
    box-shadow: .1px .1px 2px black;
} */


.topBar #Account {
    width: 15%;
    height: 100%;
    font-size: 4rem;
    align-items: center;  
    justify-content: center;
}
.topBar #Account a {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
/* Account icon */
.topBar #Account a i {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color:black;
    flex: 1;
}
#controlBar a {
    height: 50%;
    justify-content: center;
    
}
/* Top Bar End */


/*   main body start*/
.Main {
    top: 15%;
    width: 76%;
    height: 84%;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    overflow-y: scroll;
    margin: .3% 0 0 0;
}


/* main body end */

/* ListView Area Start */
.listViewBox {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
    font-size: 1rem;
}
.singlepost {
    width: 90%;
    height: 35%;
    flex-flow: row nowrap;
    margin: .2%;
    border: 3px solid rgb(14, 13, 13);
    align-items: center;
    justify-content: center;
    
}
.singlePostTitle{
    height:100%;
    width:60%;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.singlePostTitle h2 {
    height:20%;
    width:100%;

    align-items: center;
    justify-content: center;
}
.singlePostTitle span {
    margin-top: 2%;
    height:80%;
    width: 100%;
    font-size: medium;
}




.singlePostContent {
 width:40%;
 height: 100%;
 flex-flow: row nowrap;
}


.singlepost ul {
    margin: 0;
    width: 70%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.singlepost ul li {
    width: 100%;
    height: 20%;
    flex-flow: column nowrap;     
}
.singlepost ul li h5{
    width: 100%;
    flex-flow: column nowrap;
    font-size: small;
}
.controlStrip{
    width: 25%;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.controlStrip a {
    width: 70%;
    height: 15%;
    text-decoration: none;
    color: black;
    justify-content: center;
   
}
.postButton{
    width: 100%;
    height: 100%;
}
#deleteButton{
    height: 15%;
    width: 70%;
}
.mainClickables{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center;
    color: rgb(26, 170, 163)}

/* ListView Area End*/


/* Register Start */
.registerForm {
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
}
.registerForm label {
    width: 10%;
    height: 10%;
    font-size: 22pt;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.register {
    width: 50%;
    height: 20%;
   justify-content: center;
   align-content: center;
}

.userName {
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.password {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
}

.registerForm button {
    width: 30%;
    height: 10%;
    margin-top: 2%;
    background-color: rgb(37, 156, 130);
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    text-shadow: .2px .2px 4px rgba(0, 0, 0, 0.548);
    box-shadow: 1px 1px 3px rgba(121, 121, 121, 0.836);
}
/* Register End */

/* login Start */
.loginForm {
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
}
.loginForm a {
    width: 30%;
    height: 10%;
    font-size: 14pt;
}
.loginForm label {
    width: 20%;
    height: 10%;
    font-size: 27pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.login {
    width: 50%;
    height: 20%;
}

.userName {
    width: 100%;
    height: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.password {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loginForm button {
    width: 30%;
    height: 10%;
    margin-top: 2%;
    background-color: rgb(37, 156, 130);
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    text-shadow: .2px .2px 4px rgba(0, 0, 0, 0.548);
    box-shadow: 1px 1px 3px rgba(121, 121, 121, 0.836);
}
/* login End */






/* input form start */
#SubmitForm {
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.submitFormLabel {
    width: 15%;
    height: 12%;
    justify-content:center;
    margin-bottom: 7%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40pt;
    
}
.inputForm{
    width: 75%;
    height: 12%;
    margin: 1%;
   
}
.inputFormPost {
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18pt
}

#SubmitForm button {
    width: 30%;
    height: 10%;
    margin-top: 2%;
    background-color: rgb(37, 156, 130);
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    text-shadow: .2px .2px 4px rgba(0, 0, 0, 0.548);
    box-shadow: 1px 1px 3px rgba(121, 121, 121, 0.836);
}
#SubmitForm button:hover {
box-shadow: 1px 1px 5px rgb(78, 78, 78);

}
/* input form end */

/* Message Form start*/
#messageForm {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;
}
#messageForm fieldset {
    height: 50%;
    width: 80%;
}
#messageForm button {
    width: 20%;
    height: 10%;
}


/* Message Form end*/

/* SideBar App Area Start*/
.sideBar {
    width: 22%;
    height: 100%;
    float: right;
    left: 76%;
    position: fixed;
    flex-flow: column nowrap;

}

.sideBar .mainSearch {
    margin: 5px;
    width: 100%;
    height: 20%;

    flex-flow: column nowrap;
   
}
.sideBar .mainSearch {
    width: 100%;
    height: 20%;

border: 3px solid black;
flex-flow: column no wrap;
align-items: center;
}
.sideBar .mainSearch label {
    width: 50%;
    height: 10%;
    margin-bottom: 7%;
    font-size: 20pt;
    font-weight: bold;
}
.sideBar .mainSearch input {
    width: 100%;
    height: 30%;
    background-color: aliceblue;
    margin-bottom: 1%;
}
.sideBar .mainSearch button {
    width: 50%;
    height: 15%;
    text-align: center;
    background-color: rgb(173, 172, 172);
    border: 1px solid black;
    font-weight: bold;
}

.sideBar .myMessages {
    margin: 5px;
    width: 100%;
    height: 90%;
   
    flex-flow: column nowrap;
    overflow-y: scroll;
}
.messageInInbox {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.messageInInbox h2{
    width: 10%;
    height: 10%;
}
.messageInInbox span{
    width: 10%;
    height: 10%;
}
.messageInInbox ul{
    width: 100%;
    height: 80%;
    flex-flow: column nowrap;
}
.messageInInbox ul li {
    width: 100%;
    height: 10%;
}
.messageInInbox ul li h5{
    width: 100%;
    height: 10%;
}



/* SideBar App Area End*/