/* <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> to your <head>) */
* {
    display: flex;
    box-sizing: border-box;
    width: 98vw;
    height: 80vh;
    margin: 0;
}

head {
    display: none;
}
body{
    background-color: rgb(255, 248, 238);
}

#App {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    
}

/* GrandDaddy End*/

/* Top Bar Start */

.topBar {
    width: 78%;
    height: 15%;
    border: 2px solid rgb(136, 84, 6);
    justify-content: space-between;
    top: 0%;
    position: sticky;
    background-color: rgb(255, 248, 238);
}

.topBar .logo {
    width: 10%;
    height: 100%;
}

.topBar #controlBar {
    width: 40%;
    height: 100%;
}

.topBar #Account {
    width: 35%;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;   
}
.topBar #Account a {
    width: 100%;
}
#controlBar a {
    height: 50%;
}
/* Top Bar End */


/*   main body start*/
.Main {
    top: 15%;
    width: 90%;
    height: 75%;
    position: fixed;
}
#SubmitForm {
    width: 50%;
    height: 50%;
    flex-flow: column nowrap;
}
#SubmitForm input {
    width: 50%;
    height: 50%;
}
#SubmitForm button {
    width: 20%;
    height: 20%;
}



/* main body end */

/* ListView Area Start */
.listViewBox {
    width: 78%;
    height: 80%;
    flex-flow: column nowrap;
    border: 3px solid black;
}

.listViewBox ul {
    margin: 0;
    width: 50%;
    height: 50%;
    flex-flow: column nowrap;
}

.listViewBox ul li {
    width: 50%;
    height: 50%;
}

.listViewBox button {
    width: 30%;
    height: 10%;
}

/* ListView Area End*/


/* Register Start */
.registerForm {
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
}
.registerForm label {
    width: 10%;
    height: 10%;
}
.register {
    width: 50%;
    height: 12%;
}

.userName {
    width: 100%;
    height: 100%;
}
.password {
    width: 100%;
    height: 100%;
}

.registerForm button {
    width: 15%;
    height: 5%;
}
/* Register End */

/* login Start */
.loginForm {
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
}
.loginForm label {
    width: 10%;
    height: 10%;
}
.login {
    width: 50%;
    height: 12%;
}

.userName {
    width: 100%;
    height: 100%;
}
.password {
    width: 100%;
    height: 100%;
}

.loginForm button {
    width: 15%;
    height: 5%;
}
/* login End */

/* SideBar App Area Start*/
.sideBar {
    width: 22%;
    height: 100%;
    float: right;
    left: 76%;
    position: fixed;
    flex-flow: column nowrap;
    border: 2px solid blueviolet;
}

.sideBar .mainSearch {
    margin: 5px;
    width: 100%;
    height: 20%;
    border: 2px solid blueviolet;
    flex-flow: column nowrap;
   
}
.sideBar .mainSearch {
    width: 100%;
    height: 30%;

border: 3px solid black;
flex-flow: column no wrap;
align-items: center;

}
.sideBar .mainSearch label {
    width: 50%;
    height: 10%;
}
.sideBar .mainSearch input {
    width: 100%;
    height: 20%;
    background-color: aliceblue;
}
.sideBar .mainSearch button {
    width: 50%;
    height: 10%;
    text-align: center;
    background-color: rgb(173, 172, 172);
    border: 1px solid black;
}

.sideBar .descripBox {
    margin: 5px;
    width: 100%;
    height: 80%;
    border: 2px solid blueviolet;
}



/* SideBar App Area End*/